/* .container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.mask {
  width: 22%;
  height: 47.5%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url("../../assets/shape.png");
  background-size: cover;
  clip-path: circle(100% at 50% 50%); 
  transition: clip-path 0.5s ease; 
} */
.svgblob {
  position: relative;
  overflow: hidden;
  width: 100%;
  width: 100%;

  box-sizing: border-box;
}

.svgblob svg {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  transform-origin: 50% 50%;
  transition: transform 0.75s 0s;
  overflow: hidden;
}

[id^="blobmask"] rect {
  fill: #eee;
  width: 100%;
  height: 100%;
}

[id^="blobmask"] path {
  fill: #000;
}

[id="blobmask-3"] rect {
  fill: #fff;
}

.svgblob:hover svg {
  transform: none;
}

.svgblob path {
  animation: rotatepath 47s linear 0s infinite;
}

.svgblob img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;
  display: block;
}

@keyframes rotatepath {
  0% {
    transform: translate(50%, 50%) scale(1) rotateZ(360deg);
  }
  100% {
    transform: translate(50%, 50%) scale(1) rotateZ(0deg);
  }
}
